textarea {
    border: 1px solid #e1e8ed;
    padding: .5rem;
    width: 100%;
    resize: vertical;
    overflow: auto;
}

label {
    word-break: keep-all;
    display: inline-block;
    margin-bottom: .5rem;
}

address, dl, ol, ul {
    margin-bottom: 1rem;
}

.svg-inline--fa {
    vertical-align: 0;
}

.button svg {
    height: .85rem;
    fill: currentColor;
}

.v-popper__popper {
    left: 0;
    outline: none;
    top: 0;
    z-index: 10000
}

.v-popper__popper.v-popper__popper--hidden {
    opacity: 0;
    pointer-events: none;
    transition: opacity .15s,visibility .15s;
    visibility: hidden
}

.v-popper__popper.v-popper__popper--shown {
    opacity: 1;
    transition: opacity .15s;
    visibility: visible
}

.v-popper__popper.v-popper__popper--skip-transition,.v-popper__popper.v-popper__popper--skip-transition>.v-popper__wrapper {
    transition: none!important
}

.v-popper__backdrop {
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%
}

.v-popper__inner {
    box-sizing: border-box;
    overflow-y: auto;
    position: relative
}

.v-popper__inner>div {
    max-height: inherit;
    max-width: inherit;
    position: relative;
    z-index: 1
}

.v-popper__arrow-container {
    height: 10px;
    position: absolute;
    width: 10px
}

.v-popper__popper--arrow-overflow .v-popper__arrow-container,.v-popper__popper--no-positioning .v-popper__arrow-container {
    display: none
}

.v-popper__arrow-inner,.v-popper__arrow-outer {
    border-style: solid;
    height: 0;
    left: 0;
    position: absolute;
    top: 0;
    width: 0
}

.v-popper__arrow-inner {
    border-width: 7px;
    visibility: hidden
}

.v-popper__arrow-outer {
    border-width: 6px
}

.v-popper__popper[data-popper-placement^=bottom] .v-popper__arrow-inner,.v-popper__popper[data-popper-placement^=top] .v-popper__arrow-inner {
    left: -2px
}

.v-popper__popper[data-popper-placement^=bottom] .v-popper__arrow-outer,.v-popper__popper[data-popper-placement^=top] .v-popper__arrow-outer {
    left: -1px
}

.v-popper__popper[data-popper-placement^=top] .v-popper__arrow-inner,.v-popper__popper[data-popper-placement^=top] .v-popper__arrow-outer {
    border-bottom-color: transparent!important;
    border-bottom-width: 0;
    border-left-color: transparent!important;
    border-right-color: transparent!important
}

.v-popper__popper[data-popper-placement^=top] .v-popper__arrow-inner {
    top: -2px
}

.v-popper__popper[data-popper-placement^=bottom] .v-popper__arrow-container {
    top: 0
}

.v-popper__popper[data-popper-placement^=bottom] .v-popper__arrow-inner,.v-popper__popper[data-popper-placement^=bottom] .v-popper__arrow-outer {
    border-left-color: transparent!important;
    border-right-color: transparent!important;
    border-top-color: transparent!important;
    border-top-width: 0
}

.v-popper__popper[data-popper-placement^=bottom] .v-popper__arrow-inner {
    top: -4px
}

.v-popper__popper[data-popper-placement^=bottom] .v-popper__arrow-outer {
    top: -6px
}

.v-popper__popper[data-popper-placement^=left] .v-popper__arrow-inner,.v-popper__popper[data-popper-placement^=right] .v-popper__arrow-inner {
    top: -2px
}

.v-popper__popper[data-popper-placement^=left] .v-popper__arrow-outer,.v-popper__popper[data-popper-placement^=right] .v-popper__arrow-outer {
    top: -1px
}

.v-popper__popper[data-popper-placement^=right] .v-popper__arrow-inner,.v-popper__popper[data-popper-placement^=right] .v-popper__arrow-outer {
    border-bottom-color: transparent!important;
    border-left-color: transparent!important;
    border-left-width: 0;
    border-top-color: transparent!important
}

.v-popper__popper[data-popper-placement^=right] .v-popper__arrow-inner {
    left: -4px
}

.v-popper__popper[data-popper-placement^=right] .v-popper__arrow-outer {
    left: -6px
}

.v-popper__popper[data-popper-placement^=left] .v-popper__arrow-container {
    right: -10px
}

.v-popper__popper[data-popper-placement^=left] .v-popper__arrow-inner,.v-popper__popper[data-popper-placement^=left] .v-popper__arrow-outer {
    border-bottom-color: transparent!important;
    border-right-color: transparent!important;
    border-right-width: 0;
    border-top-color: transparent!important
}

.v-popper__popper[data-popper-placement^=left] .v-popper__arrow-inner {
    left: -2px
}

.v-popper--theme-tooltip .v-popper__inner {
    background: rgba(0,0,0,.8);
    border-radius: 6px;
    color: #fff;
    padding: 7px 12px 6px
}

.v-popper--theme-tooltip .v-popper__arrow-outer {
    border-color: rgba(0,0,0,.8)
}

.v-popper--theme-dropdown .v-popper__inner {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 6px;
    box-shadow: 0 6px 30px rgba(0,0,0,.102);
    color: #000
}

.v-popper--theme-dropdown .v-popper__arrow-inner {
    border-color: #fff;
    visibility: visible
}

.v-popper--theme-dropdown .v-popper__arrow-outer {
    border-color: #ddd
}

.button {
    --button-normal-background-color: var(--light-article-background-color, var(--article-background-color, #fff));
    --button-normal-border-color: #d5d5d5;
    --button-color: var(--button-normal-color);
    --button-background-color: var(--button-normal-background-color);
    --button-border: 1px solid;
    --button-border-color: var(--button-normal-border-color);
    --button-border-radius: 4px;
    align-items: center;
    background-color: var(--button-background-color);
    border: 1px solid;
    border: var(--button-border);
    border-color: var(--button-border-color);
    border-radius: var(--button-border-radius);
    color: var(--button-color) !important;
    display: inline-flex;
    font-size: .9rem;
    justify-content: center;
    line-height: 1.5;
    overflow: hidden;
    padding: .3rem .75rem;
    text-decoration: none!important;
    transition: background-color .1s ease-in,box-shadow .1s linear;
    white-space: nowrap;
}

.theseed-dark-mode .button {
    --button-normal-color: var(--dark-text-color, var(--text-color, #e0e0e0));
    --button-normal-background-color: #282829;
    --button-normal-border-color: #484848;
}

@media screen and (max-width: 727.98px) {
    .button:not(.button-unresponsive) {
        padding: .4rem .75rem;
    }
}

@media screen and (max-width: 319.98px) {
    .button:not(.button-unresponsive) {
        padding: .3rem .75rem;
    }
}

.button:not(.button-unreactive) {
    cursor: pointer;
}

.button:not(.button-unreactive):not(.button-disabled):hover {
    --button-hover-color: var(--button-color);
    --button-background-hover-color: #f2f2f2;
    background-color: var(--button-background-hover-color);
    color: var(--button-hover-color);
    text-decoration: none;
}

.theseed-dark-mode .button:not(.button-unreactive):not(.button-disabled):hover {
    --button-background-hover-color: #555;
}

.button:not(.button-unreactive):not(.button-disabled):focus {
    --button-background-focus-color: #f2f2f2;
    background-color: var(--button-background-focus-color);
}

.theseed-dark-mode .button:not(.button-unreactive):not(.button-disabled):focus {
    --button-background-focus-color: #515151;
}

.button:not(.button-unreactive):not(.button-disabled) {
    --focus-outline-color: var(--brand-bright-color-2, #e3e3e3);
    --focus-box-shadow-style: var(--focus-outline-color) 0 0 0 0.2rem;
}

.button:not(.button-unreactive):not(.button-disabled):focus-visible {
    box-shadow: var(--focus-box-shadow-style);
    transition: box-shadow .1s linear;
}

.theseed-dark-mode .button:not(.button-unreactive):not(.button-disabled):focus-visible {
    --focus-outline-color: var(--brand-bright-color-2, #45474b);
}

.button-secondary:not(.button-disabled) {
    --button-color: #fff;
    --button-background-color: #686868;
    --button-border-color: #7f7f7f;
}

.theseed-dark-mode .button-secondary:not(.button-disabled) {
    --button-background-color: #5a5a5a;
    --button-border-color: #5b5b5b;
}

.button-secondary:not(.button-unreactive):not(.button-disabled):hover {
    --button-background-hover-color: #505050;
}

.theseed-dark-mode .button-secondary:not(.button-unreactive):not(.button-disabled):hover {
    --button-background-hover-color: #474747;
}

.button-secondary:not(.button-unreactive):not(.button-disabled):focus {
    --button-background-focus-color: #5e5e5e;
}

.theseed-dark-mode .button-secondary:not(.button-unreactive):not(.button-disabled):focus {
    --button-background-focus-color: #4a4a4a;
}

.button-secondary:not(.button-unreactive):not(.button-disabled):focus-visible {
    box-shadow: 0 0 0 .2rem #939393;
}

.theseed-dark-mode .button-secondary:not(.button-unreactive):not(.button-disabled):focus-visible {
    box-shadow: 0 0 0 .2rem #505050;
}

.button-primary:not(.button-disabled) {
    --button-color: #fff;
    --button-background-color: #3f82e6;
    --button-border-color: #7eaaed;
}

.theseed-dark-mode .button-primary:not(.button-disabled) {
    --button-background-color: #1555b5;
    --button-border-color: #052e6d;
}

.button-primary:not(.button-unreactive):not(.button-disabled):hover {
    --button-background-hover-color: #4078cd;
}

.theseed-dark-mode .button-primary:not(.button-unreactive):not(.button-disabled):hover {
    --button-background-hover-color: #1e5ebd;
}

.button-primary:not(.button-unreactive):not(.button-disabled):focus {
    --button-background-focus-color: #4b85db;
}

.theseed-dark-mode .button-primary:not(.button-unreactive):not(.button-disabled):focus {
    --button-background-focus-color: #1758ba;
}

.button-primary:not(.button-unreactive):not(.button-disabled):focus-visible {
    box-shadow: 0 0 0 .2rem #b0caf3;
}

.theseed-dark-mode .button-primary:not(.button-unreactive):not(.button-disabled):focus-visible {
    box-shadow: 0 0 0 .2rem #0d3e8f;
}

.button-danger:not(.button-disabled) {
    --button-color: #fff;
    --button-background-color: #ac2330;
    --button-border-color: #d57d86;
}

.theseed-dark-mode .button-danger:not(.button-disabled) {
    --button-background-color: #c72838;
    --button-border-color: #b72634;
}

.button-danger:not(.button-unreactive):not(.button-disabled):hover {
    --button-background-hover-color: #c1434f;
}

.theseed-dark-mode .button-danger:not(.button-unreactive):not(.button-disabled):hover {
    --button-background-hover-color: #b01827;
}

.button-danger:not(.button-unreactive):not(.button-disabled):focus {
    --button-background-focus-color: #c74552;
}

.theseed-dark-mode .button-danger:not(.button-unreactive):not(.button-disabled):focus {
    --button-background-focus-color: #ad1726;
}

.button-danger:not(.button-unreactive):not(.button-disabled):focus-visible {
    box-shadow: 0 0 0 .2rem #f1c7cc;
}

.theseed-dark-mode .button-danger:not(.button-unreactive):not(.button-disabled):focus-visible {
    box-shadow: 0 0 0 .2rem #ac4650;
}

.button-super:not(.button-disabled) {
    --button-color: #fff;
    --button-background-color: #639;
    --button-border-color: #7234b1;
}

.theseed-dark-mode .button-super:not(.button-disabled) {
    --button-background-color: #401d63;
    --button-border-color: #451576;
}

.button-super:not(.button-unreactive):not(.button-disabled):hover {
    --button-background-hover-color: #673697;
}

.theseed-dark-mode .button-super:not(.button-unreactive):not(.button-disabled):hover {
    --button-background-hover-color: #5a2f84;
}

.button-super:not(.button-unreactive):not(.button-disabled):focus {
    --button-background-focus-color: #753eac;
}

.theseed-dark-mode .button-super:not(.button-unreactive):not(.button-disabled):focus {
    --button-background-focus-color: #50277a;
}

.button-super:not(.button-unreactive):not(.button-disabled):focus-visible {
    box-shadow: 0 0 0 .2rem #7844ac;
}

.theseed-dark-mode .button-super:not(.button-unreactive):not(.button-disabled):focus-visible {
    box-shadow: 0 0 0 .2rem #4f2a74;
}

.button-brand:not(.button-disabled) {
    --button-color: #fff;
    --button-background-color: var(--brand-color-1, #bcbcbc);
}

.button-brand:not(.button-unreactive):not(.button-disabled):focus {
    --button-background-focus-color: var(--brand-color-2, #c7c7c7);
}

.button-brand:not(.button-unreactive):not(.button-disabled):hover {
    --button-background-hover-color: var(--brand-color-2, #c7c7c7);
}

.button-disabled {
    --button-color: #d9d9d9;
    --button-background-color: #f7f7f7;
    --button-border-color: #f0f0f0;
}

.theseed-dark-mode .button-disabled {
    --button-color: #777;
    --button-background-color: #373737;
    --button-border-color: #424242;
}

.button-disabled:not(.button-disabled-unreactive):hover {
    cursor: not-allowed;
}

.button-small-size {
    font-size: .8rem;
    height: 1.6rem;
    min-width: 2.4rem;
    padding: .1rem .3rem;
    --button-border-color: #e0e0e0;
    --button-border-radius: 3px;
}

.theseed-dark-mode .button-small-size {
    --button-border-color: #484848;
}

.button-small-size svg {
    height: .8rem;
}

@media screen and (max-width: 1023.98px) {
    .button-small-size:not(.button-unresponsive) {
        height: 1.7rem;
        min-width: 2.6rem;
    }
}

.button-big-size {
    font-size: 1.05rem;
    padding: .75rem 1.25rem;
}

.button--block {
    display: flex;
    width: 100%;
}

.button svg {
    height: .85rem;
    fill: currentColor;
}